<!DOCTYPE html>
html(lang="pt-br")
head
  meta(charset="UTF-8")
  title Genesis Boilerplate
  link(rel='stylesheet', type='text/css', href='css/main.css')
body
  h1 It works
  
  script(src="js/main.js")
